html {
    /* width: 100%; */  
    height: 100%;
}

body {
  /*background-color: #FFFFFF;
  */background-image: url(innovation.png); 
  background-size:100% 100%;
  background-repeat:no-repeat;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*line-height: 75px;
  /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
*/}
ul.header li {
  /*font-family: 'Lobster', Georgia, Times, serif;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Lato;  
 
 */ font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
 
  font-size: 25px;
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  border-radius: 25px;  
  background-color: #264d73;/*#111;*/
  padding: 0;
  background-image: url(logo.png); 
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
ul.header li a {
  color: #e0e0d2;/*#FFF;*/
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #264d73;
  text-align: center;
  /*font-family: 'Lobster', Georgia, Times, serif;*/
}
footer p {
  color: white;
  font-size: medium;
  text-decoration: none;
}
.content {
  border-radius: 25px;  
  background-color: #e0e0d2;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
} 

.header a.active {
  border-radius: 25px;  
  background-color: #ff9900;
  color: #264d73;
}

#app {
  height: auto; 
  width: auto;
  margin: 0 auto;
}

.title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 35px;
  line-height: 100px;
}
