html {
    /* width: 100%; */  
    height: 100%;
}

body {
  /*background-color: #FFFFFF;
  */background-image: url(innovation.png); 
  background-size:100% 100%;
  background-repeat:no-repeat;
  padding: 20px;
  margin: 0;
}
p {
  color: #264d73;
  font-size: 18px;
  text-align: justify;
}
ul.header li {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 20px;
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.mobile_header li {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 20px;
  display: block;
  list-style-type: none;
  margin: 0;
}
ul.mobile_header {
  border-radius: 25px;  
  background-color: #264d73;/*#111;*/
  padding: 0;
  /*background-image: url(logo.png);*/ 
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
ul.header {
  border-radius: 25px;  
  background-color: #264d73;/*#111;*/
  padding: 0;
  background-image: url(logo.png); 
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
ul.mobile_header li a {
  color: #e0e0d2;/*#FFF;*/
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.header li a {
  color: #e0e0d2;/*#FFF;*/
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #264d73;
  text-align: center;
}
footer p {
  color: white;
  font-size: small;
  text-decoration: none;
}
.content {
  border-radius: 25px;  
  background-color: #e0e0d2;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
  color: #264d73;
  font-size: 18px;
  text-align: justify;
} 

.header a.active {
  border-radius: 25px;  
  background-color: #ff9900;
  color: #264d73;
}

.mobile_header a.mobile_active {
  border-radius: 25px;  
}

.mobile_header li a.mobile_active i {
  -webkit-transform: rotate(180deg);
}


.mobile_header li i.fa-chevron-circle-down {
  right: 40px;
  left: auto;
  margin-top: 10px;
  font-size: 32px;
}

.mobile_header li i {
  position: absolute;
  color: white;
  transition: all 0.4s ease;
}

#app {
  height: auto; 
  width: auto;
  margin: 0 auto;
}

.title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 25px;
  line-height: 100px;
  color: #264d73;
}
